*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    padding: 0px 50px 20px 50px;
    font-family: 'DM Sans', sans-serif;
}

.header-nav, .header-nav ul, .header-name, section, footer, footer ul{
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
}
ul li{
    margin-left: 20px;
}
.header-nav, footer, .header-name{
    justify-content: space-between;
}
.header-nav{
    margin-top: 93px;
}
.header-name{
    margin-top: 128px;
}
.arrow-down{
    width: 33px;
    height: 39px;
    background-image: url(./src/arrow_down.png);
    background-repeat: no-repeat;
    background-size:contain;
    margin-top: 128px;
}

section{
    border-bottom: 1px solid black;
    justify-content: space-between;
    padding: 25px 0 0 0;
}
 .portfolio{
    padding-top: 0;
 }

.portfolio{
    margin-top: 83px;
}
h2{
    margin: 0 0 25px 0;
}

.tehno{
    margin: 110px 0 0 0;
}
 .description p:last-child{
    margin: 167px 0 20px 0;
 }

.img{
    width: 640px;
    height: 364px;
    background-color: gray;

}
a{
    color: black;
    cursor: pointer;
    font-weight:bold;

}
nav a, footer a{
    text-decoration: none;

}

a:hover{
    color:rgb(95, 2, 182)

}
footer{
    margin: 126px 0 116px 0;
}
